BasedOnStyle: Google
IndentWidth: 4
UseTab: Never

PointerAlignment: Left
ReferenceAlignment: Left

ColumnLimit: 70

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false  
  BeforeElse: true           
  BeforeCatch: true         
  BeforeWhile: true             

AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false
ReflowComments: false

SpaceBeforeParens: ControlStatements
